.auth-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth {
    display: flex;
    flex-direction: column;
    background-color: var(--color-light);
    align-items: center;
    justify-self: flex-end;
    justify-content: center;
    width: 35%;
    transform: translateX(15%);
    margin: auto;
    padding: 10px;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    z-index: 99;
}

.form {
    margin: 2px;
    padding: 5px;
    width: 15rem;
}

.form__field {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
}

.form__field > label {
    font-size: 0.8em;
    font-family: var(--font-family-main);
    color: black;
    align-self: center;
}

.input {
    width: 100%;
    background-color: #f8b9e2;
    border: none;
    color: black;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
}

.input:focus {
    background-color: rgba(160, 81, 45, 0.383);
    border: none;
}

.auth__btn {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
}

.btn--sub {
    border-radius: 8px;
    border-width: 0;
    background-image: linear-gradient(var(--color-secondary-light),var(--color-light));
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-size: larger;
    padding: 5px 10px;
    white-space: nowrap;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
}


.btn--sub:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  color: sienna;
  opacity: .85;
}

.btn--sub:active {
  outline: 0;
}

.btn--sub:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

.auth__actions {
  margin-top: 15px;
}

.auth__actions > p > a{
  text-decoration: none;
  color: rgb(66, 182, 143);
  font: 500;
  font-size: medium;
}

.image-plants {
  position: absolute;
  top: 4vh;
  right: 2vw;
  z-index: 9;
  width: 500px;
}

@media (max-width: 420px) {
  .btn--sub {
    height: 48px;
  }
}