:root {
    --color-main: #e18597;
    --color-secondary:#f7aca0;
    --color-light: #da99bdf6;
    --color-secondary-light: #f8d5bb;
    --color-font: #000;
    --font-family-main: 'Comfortaa', cursive;
    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 18px;
}

html, body {
    margin: 0;
    font-size: var(--font-size-s);
    background-color: var(--color-main);
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: content-box;
    color: var(--color-font);
    font-family: var(--font-family-main); 
    overflow-x: hidden;
}

input {
    border-radius: 3px;
    color: white;
    -webkit-appearance: none;
    outline: none;
    background-color: transparent;
    width: 80%;
    justify-self: center;
    align-self: center;
}

.btn {
    background-color: var(--color-main);
    font-size: var(--font-size-xs);
    width: fit-content;
    align-self: center;
    justify-self: center;
    padding: 5px;
    border-radius: 0.4rem;
    color: black;
}

.btn:hover {
    color: whitesmoke;
}

.container-search {
    min-width: 200px;
}

.container-search > input {
    background-color: var(--color-secondary-light);
    margin-left:5px;
    margin-right: 0;
    border: none;
    padding: 5px 2px;
    color: #000;
    text-align: center;
    font-size: 1.1rem;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.container-search > input::placeholder {
    color: #000;
    font-size: small;
}

.container-search > label {
    cursor: pointer;
    font-size: 1.5em;
    padding: 1px;
    margin-left: -3.5px;
    transform: translateY(2px);
    background-color: var(--color-light);
    border-radius: 1px;
}

.card {
    border: 2px solid var(--color-light);
}

.backButton {
    background: var(--color-main-light);
    color: var(--color-main);
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .backButton i {
    font-size: 1.8rem;
  }
  