:root {
    --color-main: #232b2b;
    --color-light: #6b6662;
    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 18px;
}

html, body {
    margin: 0;
    margin-left: 100px;
    font-size: var(--font-size-s);
    background-color: var(--color-main);
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: content-box;
    color: whitesmoke;
    font-family: 'BioRhyme', serif;
    overflow-x: hidden;
}

input {
    border-radius: 3px;
    color: white;
    -webkit-appearance: none;
    outline: none;
    background-color: transparent;
    width: 80%;
    justify-self: center;
    align-self: center;
}

.btn {
    background-color: var(--color-main);
    font-size: var(--font-size-xs);
    width: fit-content;
    align-self: center;
    justify-self: center;
    padding: 5px;
    border-radius: 0.4rem;
    color: whitesmoke;
}

.btn:hover {
    color: black;
}

.card {
    border: 2px solid var(--color-light);
}

.backButton {
    background: var(--color-main-light);
    color: var(--color-main);
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .backButton i {
    font-size: 1.8rem;
  }
  