

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    height: 100vh;
    width: 15vw;
    display: flex;
    font-family: var(--font-family-main);
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--color-secondary);
    border: grey;   
    box-shadow: rgba(58, 55, 55, 0.452) -4px 9px 25px -6px;
}

hr {
    color: white;
    background-color: white;
    height: 3px;
    width: 65%;
}

.navbar ul {
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
}
.navbar ul > li {
    list-style: none;
}
.navbar ul > li:hover {
    color: rgb(85, 80, 80);
    transform: translateY(-3px);
}
.btn-login-signin {
    padding: 10px;
    border: var(--color-dark);
}

.active-link {
    color: rgb(85, 80, 80);
}

.log-out {
    padding: 5px;
}

.container-links {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
}
