{% extends 'main.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock styles %}

{% block content %}
<div class="container container-home">
    <div class="row">
        <div class="col title-container mb-5 animate__animated animate__fadeIn">
            <h2 class="home-title">non-guilt foodies</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-4 home-text__container animate__animated animate__fadeInUp">
            <h1>Be Yourself, no matter what.</h1>
            <p>Stay healthy for yourself, not for other people </p>
            <a href="#" class="home-btn">Calculate</a>
        </div>
        <div class="col home-image__container animate__animated animate__bounce">
            <img class="home-image"
            src="{% static 'images/panda-home.png' %}" alt="">
        </div>
    </div>
</div>
{% endblock content %}