<div class="navbar">
    <div class="container-search">
        <label for="search-food"><i class="uil uil-search"></i></label>
        <input type="text" id="search-food" placeholder="Search for calories...">
    </div>
    <div class="animate__animated animate__fadeIn">
        <hr>
        <ul class="container-links">
            <li>
                calculate daily calories
            </li>
            <li>
                eating plan
            </li>
            <li>
                BMI calculation
            </li>
        </ul>
    </div>

    <a class="btn btn-secondary" href="{% url 'register' %}">LOG IN / SIGN IN</a>
</div>